*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap-component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    margin: 1em;
    padding: 0 .5em;
    border-radius: .5em;
    box-shadow:2px 3px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    
}

.input{
    width: 90%;
    font-size: 1.3rem;
    padding-left: .5em;
    box-shadow: 2px 2px 10px rgba(33, 1, 92, 0.5);
    border-radius: .4em;
    outline: none;
    height: 2em;
}

form{
    width: 100%;
    margin:2em 1em auto;
    padding: 1em;
    border:1px solid #21015c;
    border-radius: .5em;
    box-shadow: 2px 2px 10px rgba(33, 1, 92, 0.5);
}
form.invalid{
    border-color: red;
}
form button{
    margin-left: .8em;
}
form *{
    margin: .3em;
}
label{
    font-size: 2em;
    font-weight: 600;
    padding:0 .2em ;
}
button{
    background-color: rgb(33, 1, 92);
    padding: 1em;
    font-weight: 600;
    font-size: 1.1rem;
    margin: auto .1em;
    border-radius: .4em;
    border: none;
    color: #fff;
}

.App{
   width: 50%;
   margin: auto; 
}

@media (max-width:1024px) {
    .App {
            width: 70%;
            margin: auto;
        }
}

@media (max-width:600px) {
    .App {
        width: 90%;
        margin: auto;
    }
    .wrap-component{
        padding-right: .2em;
    }
}